
*.dll
.vs/config/applicationhost.config
.vs/QueueSimulator/v15/.suo
.vs/QueueSimulator/v15/Server/sqlite3/db.lock
.vs/QueueSimulator/v15/Server/sqlite3/storage.ide
.vs/QueueSimulator/v15/Server/sqlite3/storage.ide-shm
.vs/QueueSimulator/v15/Server/sqlite3/storage.ide-wal
QueueSimulator/bin/Debug/netcoreapp2.1/QueueSimulator.deps.json
QueueSimulator/bin/Debug/netcoreapp2.1/QueueSimulator.dll
QueueSimulator/bin/Debug/netcoreapp2.1/QueueSimulator.pdb
QueueSimulator/bin/Debug/netcoreapp2.1/QueueSimulator.Views.dll
QueueSimulator/bin/Debug/netcoreapp2.1/QueueSimulator.Views.pdb
QueueSimulator/obj/Debug/netcoreapp2.1/QueueSimulator.assets.cache
QueueSimulator/obj/Debug/netcoreapp2.1/QueueSimulator.csproj.CoreCompileInputs.cache
QueueSimulator/obj/Debug/netcoreapp2.1/QueueSimulator.csproj.FileListAbsolute.txt
QueueSimulator/obj/Debug/netcoreapp2.1/QueueSimulator.csprojAssemblyReference.cache
QueueSimulator/obj/Debug/netcoreapp2.1/QueueSimulator.dll
QueueSimulator/obj/Debug/netcoreapp2.1/QueueSimulator.pdb
QueueSimulator/obj/Debug/netcoreapp2.1/QueueSimulator.Views.dll
QueueSimulator/obj/Debug/netcoreapp2.1/QueueSimulator.Views.pdb
QueueSimulator/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
QueueSimulator/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
QueueSimulator/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
QueueSimulator/obj/Debug/netcoreapp2.1/Razor/Views/Simulation/Simulation.g.cshtml.cs
QueueSimulator/obj/project.assets.json
QueueSimulator/obj/QueueSimulator.csproj.nuget.cache
