<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 350px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #b0c1c9;
            overflow-x: hidden;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

            .sidenav a {
                padding: 6px 6px 6px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

        .main {
            margin-left: 200px;
        }
    </style>
</head>
<body>

    <div class="sidenav">
        <form asp-action="Simulation">
            <br>
            <br>
            <div class="form-group input-group-sm mb-3">
                <label for="countPatient">Liczba pacjentow</label>
                <input type="text" name="CountPatient" class="form-control" id="CountPatient" placeholder="Liczba pacjentow">
                <input type="button" id="AddNew" value="dodaj nowego" class="btn btn-default" />
                <input type="button" id="AddRandom" value="dodaj wszytkich losowych" class="btn btn-default" />
                <input type="button" id="AddDb" value="dodaj wszytkich z bazy" class="btn btn-default" />
            </div>
            <div class="form-group">
                <label for="countIteration">Liczba iteracji</label>
                <input type="text" class="form-control" name="countIteration" id="CountIteration" placeholder="Liczba iteracji">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Algorytm</label>
                <select class="form-control" name="Algorytm" id="Algorytm">
                    <option value="1">Algorytm 1</option>
                    <option value="2">Algorytm 2</option>
                    <option value="2">Algorytm 3</option>
                    <option value="2">Algorytm 4</option>
                    <option value="2">Algorytm 5</option>
                </select>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" name="returnToQuery" type="checkbox" value="1" id="ReturnToQuery">
                <label class="custom-control-input" for="defaultCheck1">
                    Powrot do kolejki
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" name="addToQuery" type="checkbox" value="2" id="AddToQuery">
                <label class="custom-control-input" for="defaultCheck1">
                    Dodanie do kolejki
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" name="twoQuery" type="checkbox" value="3" id="TwoQuery">
                <label class="custom-control-input" for="defaultCheck1">
                    Rownolegle kolejki
                </label>
            </div>
            <div class="form-group">
                <input type="submit" id="start" value="Start" class="btn btn-default" />
            </div>
        </form>
    </div>

    <div class="main" id="main">
        @Html.Partial("Empty")
        @*@Html.Partial("AddPatient");
        @Html.Partial("Patient", ViewData["PatientList"]);*@
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $("#AddNew").on("click", function () {
            var patientCount = $("#CountPatient").val();
            $.ajax({
                url: "/Simulation/AddPatient",
                type: "GET",
                data: {
                    patientCount: patientCount,
                }
            }).done(function (patientForm) {
                $("#main").html(patientForm);
            });
        });
    });

    $(document).ready(function () {
        $("#AddRandom").on("click", function () {
            var patientCount = $("#CountPatient").val();
            $.ajax({
                url: "/Simulation/AddRandomPatients",
                type: "GET",
                data: {
                    patientCount: patientCount,
                }
            }).done(function (patientList) {
                $("#main").html(patientList);
            });
        });
    });

    $(document).ready(function () {
        $("#AddDb").on("click", function () {
            var patientCount = $("#CountPatient").val();
            $.ajax({
                url: "/Simulation/AddRandomPatientFromDB",
                type: "GET",
                data: {
                    patientCount: patientCount,
                }
            }).done(function (patientList) {
                $("#main").html(patientList);
            });
        });
    });

    $(document).ready(function () {
        $("#start").on("click", function () {
            var CountPatient = $("#CountPatient").val();
            var CountIteration = $("#CountIteration").val();
            var Algorytm = $("#Algorytm").val();
            var ReturnToQuery = $("#ReturnToQuery").val();
            var AddToQuery = $("#AddToQuery").val();
            var TwoQuery = $("#TwoQuery").val();
            $.ajax({
                url: "/Simulation/StartSimulation",
                type: "GET",
                data: {
                    CountPatient: CountPatient,
                    CountIteration: CountIteration,
                    Algorytm: Algorytm,
                    ReturnToQuery: ReturnToQuery,
                    AddToQuery: AddToQuery,
                    TwoQuery: TwoQuery
                }
            }).done(function (patientList) {
                $("#main").html(patientList);
                });

            console.log("jj")
            //for (var i = 0; i < CountIteration; i++) {
            //    var intervalID = window.setInterval(function () {

            //        $.ajax({
            //            url: "/Simulation/GiveActivePatients",
            //            type: "GET",
            //            data: { piority: "1"}
            //        }).done(function (patientList) {
            //            $("#main").html(patientList);
            //        });

            //        if (++x === CountIteration) {
            //            window.clearInterval(intervalID);
            //        }
            //    }, 1000);
            //}
        });
    });
    function ReturnNewPartialView() {

    }

    //function setIntervalX(callback, delay, repetitions) {
    //    var x = 0;
    //    var intervalID = window.setInterval(function () {

    //        callback();

    //        if (++x === repetitions) {
    //            window.clearInterval(intervalID);
    //        }
    //    }, delay);
    //}
</script>