<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b0c1c9;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px;
}
    </style>
</head>
<body>

    <div class="sidenav">
        <form>
            <br>
            <br>
            <div class="form-group input-group-sm mb-3">
                <label for="countPatient">Liczba pacjentow</label>
                <input type="text" class="form-control" id="CountPatient" placeholder="Liczba pacjentow">
                <input type="button" value="add new" onclick="@("window.location.href='" + @Url.Action("AddPatient", "Simulation") + "'");" class="btn btn-default" />
                <input type="button" value="add random" class="btn btn-default" />
            </div>
            <div class="form-group">
                <label for="countIteration">Liczba iteracji</label>
                <input type="text" class="form-control" id="countIteration" placeholder="Liczba iteracji">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Algorytm</label>
                <select class="form-control" id="Algorytm">
                    <option>Algorytm 1</option>
                    <option>Algorytm 2</option>
                    <option>Algorytm 3</option>
                    <option>Algorytm 4</option>
                    <option>Algorytm 5</option>
                </select>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" value="1" id="returnToQuery">
                <label class="custom-control-input" for="defaultCheck1">
                    Powrot do kolejki
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" value="2" id="addToQuery">
                <label class="custom-control-input" for="defaultCheck1">
                    Dodanie do kolejki
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" value="3" id="twoQuery">
                <label class="custom-control-input" for="defaultCheck1">
                    Rownolegle kolejki
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Start" class="btn btn-default" />
            </div>
        </form>
    </div>

    <div class="main">
        @Html.Partial("Patient", ViewData["PatientList"])
    </div>
</body>
</html>