<div class="container">
    <div class="sidenav">
        <nav class="navbar-inverse">
            <div class="container" style="border-bottom: 1px solid; width:90%">
                <h3 style="text-align:center">Queue Simulator</h3>
            </div>
        </nav>
        <div>
            <form asp-action="Simulation">
                <br>
                <br>
                <div class="form-group input-group-sm mb-3">
                    <label for="countPatient">Liczba pacjentow</label>
                    <input type="number" name="CountPatient" class="form-control" id="CountPatient" placeholder="Liczba pacjentow" min="1">
                    <div class="btn-group-vertical">
                        <input type="button" id="AddNew" value="dodaj nowego" class="btn btn-default" />
                        <input type="button" id="AddRandom" value="dodaj wszytkich losowych" class="btn btn-default" />
                        <input type="button" id="AddDb" value="dodaj wszytkich z bazy" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="countIteration">Liczba iteracji</label>
                    <input type="number" class="form-control" name="countIteration" id="CountIteration" placeholder="Liczba iteracji" min="1">
                </div>
                <div class="form-group">
                    <label for="countIteration">Liczba lekarzy</label>
                    <input type="number" class="form-control" name="doctorCount" id="DoctorCount" placeholder="Liczba lekarzy" min="1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Algorytm</label>
                    <select class="form-control" name="Algorytm" id="Algorytm">
                        <option value="1">Skala Glasgow</option>
                        <option value="2">Skala FOUR</option>
                        <option value="3">METTS</option>
                        <option value="4">SCON</option>
                        <option value="5">SREN</option>
                        <option value="6">MIXED</option>
                    </select>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="returnToQuery" value="0" type="checkbox" id="ReturnToQuery">
                    <label class="custom-control-label" for="ReturnToQuery">
                        Powrot do kolejki
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="addToQuery" value="0" type="checkbox" id="AddToQuery">
                    <label class="custom-control-label" for="AddToQuery">
                        Dodanie do kolejki
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" name="twoQuery" value="0" type="checkbox" id="TwoQuery">
                    <label class="custom-control-label" for="TwoQuery">
                        Rownolegle kolejki
                    </label>
                </div>

                <div class="form-group">
                    <input type="checkbox" id="SimulationType" checked data-toggle="toggle" data-onstyle="info" data-offstyle="dark" data-on="Automatycznia" data-off="Ręczna">
                    <div id="console-event"></div>
                    <input type="button" id="start" value="Start" class="btn btn-default" />
                    <input type="button" id="nextIteration" value="Następna iteracja" class="btn btn-default" style="display: none" />
                </div>
            </form>
        </div>
    </div>

    <div class="main" id="main">
        @Html.Partial("Empty")
    </div>

</div>

<script src="~/lib/QueueJS/SimulationForm.js"></script>
<script src="~/lib/QueueJS/AddPatient.js"></script>
<script src="~/lib/QueueJS/SimulationProcess.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>